#cacheImportDropZone {
    min-width: 300px;
    width: 60%;
    border: 1px dashed #CCC;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    color: #CCC;
  }
  
  #cacheImportDropZone:hover {
    border-color: #DE7E7E;
    background-color: #6d6767ce;
  }